extends docs.jade

block title
    span Extending the standard

block lead
    span Follow these guidelines to fit the standard to your needs

block sidenavs
    li: a(href="#extendedattributes")
        i.icon-chevron-right
        span Extended Attributes

block docs
    section#extendedattributes
        .page-header
            h1 1. Extended Attributes
        p.lead Use this simple pattern to add additional attributes to core NCGMP09 tables.