extends index.jade

block content
    // Sub-Header
    header.jumbotron.masthead
        .container
            h1 NCGMP09
            p A database standard for geologic maps
            a(href="http://ngmdb.usgs.gov/Info/standards/NCGMP09/docs/NCGMP09_v1-1__2-25-11.zip").btn.btn-primary Download the Official Package
            .muted Version 1.1
    .row-fluid
        .featurette
            i.geomap.featurette-image.pull-left
            .featurette-text.featurette-text-right
                h2.featurette-heading Modern Geologic Maps
                    span.muted  require modern mapping methods.
                p.lead Printed, paper maps have a place, but that place is in the field and on walls. Today, information
                    |  is generated, manipulated and managed digitally.
                p.lead.pull-right: a(href="overview.html") Build a modern mapping workflow.
    .row-fluid
        .featurette
            i.featurette-image.pull-right
            .featurette-text.featurette-text-left
                h2.featurette-heading Interoperability Matters
                    span.muted  to both the mappers and the users.
                p.lead Differences in cartography and data structures across mapping agencies is baffling not only to
                    |  the public but to other geologists as well.
                p.lead.pull-right: a(href="core-content.html") Help people use your maps.
    .row-fluid
        .featurette
            i.featurette-image.pull-left
            .featurette-text.featurette-text-right
                h2.featurette-heading Share Tools
                    span.muted  and make everyone's life easier.
                p.lead The devil is always in the details, but in general <em>we all do a whole lot of the same thing</em>.
                    |  As a community, we could stand to stop re-inventing the wheel at every chance we get.
                p.lead.pull-right: a(href="tools.html") A framework for developers to work with.
    .row-fluid
        .featurette
            i.featurette-image.pull-right
            .featurette-text.featurette-text-left
                h2.featurette-heading Get Started
                    span.muted  by downloading and populating a database.
                p.lead We all use different software to make our maps, and different software to view them. The standard
                    |  defines the <em>content</em> of our data, not the file format we choose to store it in. Download
                    |  a blank database and give it a try:
                .btn-group
                    a(href="#").btn ESRI File Geodatabase
                    a(href="#").btn Shapefile
                    a(href="#").btn PostGIS SQL Script