extends index.jade

block content
    // Sub-Header
    header.jumbotron.masthead
        .container
            h1 NCGMP09
            p A database standard for geologic maps
            a(href="http://ngmdb.usgs.gov/Info/standards/NCGMP09/docs/NCGMP09_v1-1__2-25-11.zip").btn.btn-primary Download the Official Package
            .muted Version 1.1