extends docs.jade

block title
    span Core Content

block lead
    span The heart of a geologic map

block sidenavs
    li: a(href="#mapunitpolys")
        i.icon-chevron-right
        span MapUnitPolys
    li: a(href="#contactsandfaults")
        i.icon-chevron-right
        span ContactsAndFaults
    li: a(href="#datasourcepolys")
        i.icon-chevron-right
        span DataSourcePolys
    li: a(href="#descriptionofmapunits")
        i.icon-chevron-right
        span DescriptionOfMapUnits
    li: a(href="#datasources")
        i.icon-chevron-right
        span DataSources
    li: a(href="#glossary")
        i.icon-chevron-right
        span Glossary

block docs
    section#mapunitpolys
        .page-header
            h1 1. MapUnitPolys
        p.lead Polygon features that represent areas where a contiguous mapped unit is found. These are the colors on your map.
        blockquote More discussion as needed
        table.table
            thead
                tr
                    th Field Name
                    th Type
                    th Description
            tbody
                tr
                    td MapUnitPolys_ID
                    td: em String
                    td Primary key. Values must be unique for each polygon and ideally are universally unique.
                tr.info
                    td MapUnit
                    td: em String
                    td Short key for the map unit. Example values: Qal, Tg, water, etc. Any value used here must be defined in the&nbsp;
                        a(href="#descriptionofmapunits") DescriptionOfMapUnits
                        span &nbsp;table.
                tr.info
                    td IdentityConfidence
                    td: em String
                    td How are you that this polygon is what you say it is? Value is usually&nbsp;
                        code certain
                        span ,&nbsp;
                        code questionable
                        span , or&nbsp;
                        code unspecified
                        span . Suggested default value of&nbsp;
                        code certain
                        span . Each term used here must be defined in the&nbsp;
                        a(href="#glossary") Glossary
                        span &nbsp;table.
                tr.warning
                    td Label
                    td: em String
                    td The label that should appear on a map for this polygon. Allows for subscripts and special characters.
                tr.warning
                    td Symbol
                    td: em String
                    td A reference to an area fill symbol. This may be an identifier in an ESRI style file, or it may identify a symbol in some other fashion. See the&nbsp;
                        a(href="./symbolization.html") Symbolization
                        span &nbsp;page for more information.
                tr.warning
                    td Notes
                    td: em String
                    td Free text for additional information specific to this polygon.
                tr.info
                    td DataSourceID
                    td: em String
                    td The identifier for a record in the&nbsp;
                        a(href="#datasources") DataSources
                        span &nbsp;table that indicates the source for this feature.

    section#contactsandfaults
        .page-header
            h1 2. ContactsAndFaults
        p.lead Line features that represent the type of boundary between two mapped units belong here.
        blockquote More discussion as needed
        table.table.table-bordered
            thead
                tr
                    th Field Name
                    th Type
                    th Description
    section#datasourcepolys
        .page-header
            h1 3. DataSourcePolys
        p.lead Polygon features that delineate the source of data for all parts of the map.
        blockquote More discussion as needed
        table.table.table-bordered
            thead
                tr
                    th Field Name
                    th Type
                    th Description
    section#descriptionofmapunits
        .page-header
            h1 4. DescriptionOfMapUnits
        p.lead This table captures the content from the map unit legend on a traditional geologic map. This is where you describe your mapped units.
        blockquote More discussion as needed
        table.table.table-bordered
            thead
                tr
                    th Field Name
                    th Type
                    th Description
    section#datasources
        .page-header
            h1 5. DataSources
        p.lead This table lists sources of content that were used to generate the geologic map. Think of this as the list of citations, only less formal.
        blockquote More discussion as needed
        table.table.table-bordered
            thead
                tr
                    th Field Name
                    th Type
                    th Description
    section#glossary
        .page-header
            h1 6. Glossary
        p.lead This table defines terminology used throughout the data set. Help other people understand what you meant.
        blockquote More discussion as needed
        table.table.table-bordered
            thead
                tr
                    th Field Name
                    th Type
                    th Description