extends docs.jade

block title
    span Sticking Points

block lead
    span Discussion of common problems for NCGMP09 users

block sidenavs
    li: a(href="#datasources")
        i.icon-chevron-right
        span Data Sources
    li: a(href="#definingterms")
        i.icon-chevron-right
        span Defining Terms
    li: a(href="#confidence")
        i.icon-chevron-right
        span Confidence
    li: a(href="#unitnames")
        i.icon-chevron-right
        span Unit Names
    li: a(href="#generallithology")
        i.icon-chevron-right
        span General Lithology

block docs
    section#datasources
        .page-header
            h1 1. Data Sources
        p.lead The goal is to capture information about who is responsible for every feature on the map.
    section#definingterms
        .page-header
            h1 2. Defining Terms
        p.lead We all recognize that we could do a better job conveying our geologic lingo to the general public. Let's
            |  do something about it by simply providing a <a href="core-content.html#glossary">Glossary</a> of terms
            |  that we've used.
    section#confidence
        .page-header
            h1 3. Confidence
        p.lead It is important that we find a way to communicate the uncertainties in our measurements and analysis.
    section#unitnames
        .page-header
            h1 4. Unit Names
        p.lead Guidelines for identifying geologic units in the DescriptionOfMapUnits table.
    section#generallithology
        .page-header
            h1 5. General Lithology
        p.lead Believe it or not, people will better understand our data if we can agree on some common terminology.