extends docs.jade

block title
    span Tools

block lead
    span Building something we can all work with

block sidenavs
    li: a(href="#github")
        i.icon-chevron-right
        span Git Repositories

block docs
    section#github
        .page-header
            h1 1. Git Repositories
        p.lead <a href="https://github.com/ncgmp09">NCGMP09 is on Github</a>. This can be a place to share
          | and collaborate on the development of new tools.
        blockquote If you have tools you'd be interested in hosting on Github, get in touch with
          | <a href="mailto:ryan.clark@azgs.az.gov">Ryan Clark</a> and he'll get you started.